.main {
    margin: auto;
    padding: 1em;
    max-width: 980px;
    margin-bottom: 15em;
}

.footerContainer {
    z-index: 1;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer {
    background-color: #27272a;
    border-top: 1px solid #3e3e3e;
}