.playButton {
    margin-right: 0.7em;
}

.audioCardWrapper {
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}

.cardTitle {
    font-size: large
}

.rightIcon {
    margin-left: auto;
}