.playButton {
    margin-right: 0.7em;
}

.audioCardWrapper {
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}

.duration {
    font-size: medium;
    color: #A2A2A2;
    margin-left: auto;
    margin-right: 1em;
}

.cardTitle {
    font-size: large;
}

.removeButtonLabel {
    margin: 0 auto;
}
