.uploadpage {
   height: 50vh;
   display: flex;
   justify-content: center;
}

.h {
   text-align: center;
}

.uploadform {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.uploadform input {
   margin: 10px 0 15px 0;
   outline: none;
   padding: 10px;
   color: #e8e6e3;
}

.uploadform label {
   padding: 4em;
   margin-bottom: 4em;
   border: 3px dashed;
   text-transform: uppercase;
   cursor: pointer;
}

.audioCardWrapper {
   margin: 10px;
   padding-top: 10px;
   padding-bottom: 10px;
}

.cardContainer {
   margin-top: 3em;
   padding: 1em;
   background-color: #262626;
   border-style: solid;
   border-radius: 10px;
   border-color: #262626;
   box-shadow:   0 3px 3px 0 rgba(0,0,0,0.14),0 1px 7px 0 rgba(0,0,0,0.12),0 3px 1px -1px rgba(0,0,0,0.2);
}