.main {
    margin: auto;
    padding: 1em;
    max-width: 1000px;
    margin-bottom: 15em;
}

.footerContainer {
    z-index: 10;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer {
    background-color: #18181b;
}