.audioCardWrapper {
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}

.duration {
    font-size: medium;
    color: #A2A2A2;
    margin-left: auto;
    margin-right: 1em;
}

.cardTitle {
    font-size: large;
}

.removeButtonLabel {
    margin: 0 auto;
}

.currentlyPlayingDivider {
    border: 2px solid;
    border-radius: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
}

